<header>
  <div class="points">
    <span class="value">1 257</span>
    <button class="info">i</button>
    <span class="unit">points</span>
  </div>
  <div style="position: relative; ">
    <div class="progress">
      <div class="bar" style="width: 55%;"></div>
    </div>
    <div class="scale">
      <span style="left: 0;">500</span>
      <span style="left: 50%">1000</span>
      <span style="left: 100%">1500</span>
    </div>
  </div>
  <button class="btn">Échanger</button>
</header>
<div class="content">
  <div class="container">
    <p><a href="#/profile/{{id}}/friends">Friends</a></p>
    <button class="btn" onclick="app.showModal()">Mon Compte</button>
    <button class="btn small">Button small</button>
    <h2>Checklist</h2>
    <p>
    <div class="progress">
      <div class="bar" style="width: 28%"></div>
    </div>
    <div class="legend">
      1/5 semaines de connexion
    </div>
    </p>
    <p>Consulter le site chaque semaine vous rapporte des points, et même un bonus !</p>
    <div class="centered">
      <div class="checklist">
        <div class="border" style="animation-duration: 2s"></div>
        <ul>
          <li class="checked">
            <svg viewBox="0 0 120 120" class="check">
              <circle cx="60" cy="60" r="50"></circle>
              <polyline points="86.875 44.063 53.75 76.563 37.157 60.843"></polyline>
            </svg>
            <div class="detail">
              <p>Semaine 1</p>
              <p><span class="reward">+10</span></p>
            </div>
          </li>
          <li class="checked active">
            <svg viewBox="0 0 120 120" class="check">
              <circle cx="60" cy="60" r="50"></circle>
              <polyline points="86.875 44.063 53.75 76.563 37.157 60.843"></polyline>
            </svg>
            <div class="detail">
              <p>Semaine 2</p>
              <p><span class="reward">+15</span></p>
            </div>
          </li>
          <li>
            <svg viewBox="0 0 120 120" class="check">
              <circle cx="60" cy="60" r="50"></circle>
              <polyline points="86.875 44.063 53.75 76.563 37.157 60.843"></polyline>
            </svg>
            <div class="detail">
              <p>Semaine 3</p>
              <p><span class="reward">+15</span></p>
            </div>
          </li>
          <li>
            <svg viewBox="0 0 120 120" class="check">
              <circle cx="60" cy="60" r="50"></circle>
              <polyline points="86.875 44.063 53.75 76.563 37.157 60.843"></polyline>
            </svg>
            <div class="detail">
              <p>Semaine 4</p>
              <p><span class="reward">+15</span></p>
            </div>
          </li>
          <li>
            <svg viewBox="0 0 120 120" class="check">
              <circle cx="60" cy="60" r="50"></circle>
              <polyline points="86.875 44.063 53.75 76.563 37.157 60.843"></polyline>
            </svg>
            <div class="detail">
              <p>Semaine 5</p>
              <p><span class="reward">livraison gratuite !</span></p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <h2>Progressbar mini</h2>
    <div class="progress mini">
      <div class="bar" style="width:80%"></div>
    </div>
    <h2>Text</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem doloremque fugit natus necessitatibus neque, non,
      obcaecati porro quis rem repellat, ullam veritatis voluptatibus. A beatae fugit impedit itaque, repellat
      voluptatem!</p>
  </div>
  <div class="container full">
    <div class="badge">
      <div class="icon">
        <svg version="1.1" viewBox="0 0 204 204" class="circle">
          <path
              stroke="#000000" stroke-width="2" stroke-miterlimit="10" fill="rgba(0,0,0,0)"
              d="M 102, 102
            m -100, 0
            a 100,100 0 1,0 200,0
            a 100,100 0 1,0 -200,0">
          </path>
        </svg>
        <img src="../assets/icons8-search.png">
      </div>
      <div class="detail">
        <h3>Curieux</h3>
        <div class="progress">
          <div class="bar" style="width:40%"></div>
        </div>
        <div class="legend">
          15/20 fiches produits consultées
        </div>
      </div>
    </div>
  </div>
</div>