<header>
  <div class="points">
    <span class="value">1 257</span>
    <button class="info">i</button>
    <span class="unit">points</span>
  </div>
  <div style="position: relative; ">
    <div class="progress">
      <div class="bar" style="width: 55%;"></div>
    </div>
    <div class="scale">
      <span style="left: 0;">500</span>
      <span style="left: 50%">1000</span>
      <span style="left: 100%">1500</span>
    </div>
  </div>
  <button class="btn">Échanger</button>
</header>
<div class="content">

  <div class="container full badges">
    <h2>Niveaux</h2>
    <div class="badge">
      <div class="icon">
        <svg version="1.1" viewBox="0 0 204 204" class="circle">
          <path
              stroke="#000000" stroke-width="2" stroke-miterlimit="10" fill="rgba(0,0,0,0)"
              d="M 102, 102
            m -100, 0
            a 100,100 0 1,0 200,0
            a 100,100 0 1,0 -200,0">
          </path>
        </svg>
        <img src="../assets/icons8-search.png">
      </div>
      <div class="detail">
        <h3>Curieux</h3>
        <div class="progress mini">
          <div class="bar" style="width:40%"></div>
        </div>
        <div class="legend">
          15/20 fiches produits consultées
        </div>
      </div>
      <div class="action">
        <a href="#/friends">
          <svg viewBox="0 0 16 36">
            <polyline points="5.32 4.844 10.5 17.979 5.441 31.115"></polyline>
          </svg>
        </a>
      </div>
    </div>
    <h2>One-shot</h2>
    <div class="badge">
      <div class="icon">
        <svg version="1.1" viewBox="0 0 204 204" class="circle">
          <path
              stroke="#000000" stroke-width="2" stroke-miterlimit="10" fill="rgba(0,0,0,0)"
              d="M 102, 102
            m -100, 0
            a 100,100 0 1,0 200,0
            a 100,100 0 1,0 -200,0">
          </path>
        </svg>
        <img src="../assets/icons8-search.png">
      </div>
      <div class="detail">
        <h3>Fan</h3>
        <div class="legend">
          Like us on Facebook!
        </div>
        <div class="points">+ 30</div>
      </div>
      <div class="action">
        <button class="btn small">
          Like
        </button>
      </div>
    </div>
    <div class="badge">
      <div class="icon">
        <svg version="1.1" viewBox="0 0 204 204" class="circle">
          <path
              stroke="#000000" stroke-width="2" stroke-miterlimit="10" fill="rgba(0,0,0,0)"
              d="M 102, 102
            m -100, 0
            a 100,100 0 1,0 200,0
            a 100,100 0 1,0 -200,0">
          </path>
        </svg>
        <img src="../assets/icons8-search.png">
      </div>
      <div class="detail">
        <h3>Curieux</h3>
        <div class="progress mini">
          <div class="bar" style="width:40%"></div>
        </div>
        <div class="legend">
          15/20 fiches produits consultées
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <p><a href="#/profile/{{id}}/friends">Friends</a></p>
    <button class="btn" onclick="app.showModal()">Mon Compte</button>
    <button class="btn small">Button small</button>

    <h2>Progressbar</h2>
    <div class="progress">
      <div class="bar" style="width:80%"></div>
    </div>
    <h2>Progressbar mini</h2>
    <div class="progress mini">
      <div class="bar" style="width:80%"></div>
    </div>

  </div>

</div>