main.views > .view > .content {
    padding: 24px;
}

#toggle-mask {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10001;
}

html {
    background: url("smartlabel.png");
}

#widget {
    box-shadow: 0 0 300px rgba(88, 88, 90, 0.54);
    background: white;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
}

#widget > header > .header {
    padding: 18px;
}
#widget > header > .header nav {
    display: flex;
    align-items: center;
    padding: 18px;
}




